@model WebProject.Models.Post

@{
    ViewData["Title"] = "Single Post";
}

<!doctype html>
<!--
 Ben kiani : 205563398
 Naveh Ohana : 205465586
-->
<html>
<head>
    <title>Browser Page title</title>
</head>
    <body>
        <!-- Here starts the blog -->
       @using (Html.BeginForm("SearchPosts", "Posts", FormMethod.Get))
       {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            Min Blog Date:
            <input type="date" name="date"><br>

            Posted by:
            <input type="text" name="bloggerName"><br>

            Text from comments:
            <input type="text" name="textFromComments"><br>

            Min comments for post:
            <input type="range" name="minCommentsPerPost" min="0" max="10", value="0">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
       }

        <div id="content">
            <div id="mainContent">
                <section>
                    <article class="blogPost">
                        <header>
                            <h1> @Html.DisplayFor(model => model.Title) </h1>
                            <p>
                                Posted on <time datetime="2009-06-29T23:31+01:00">@Model.Date</time> by 
                                <a href=@Model.SiteAddress>
                                @if (@Model.Fan != null)
                                {
                                    <b>@Model.Fan.FirstName @Model.Fan.LastName</b>
                                }
                                </a>

                                @if (Model.Comments != null)
                                {
                                    <a href="#comments"> - @Model.Comments.Count comments</a>
                                }
                            </p >
                        </header>
                        <div>
                            <p> @Html.DisplayFor(model => model.Text)  </p>

                            <img src=@Model.Picture alt="Picture" />

                            <video controls="controls">
                                <source src="@Model.Video" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </article>
                </section>
                <section id="comments">
                    @if (Model.Comments != null && Model.Comments.Count > 0) { 
                        <h3>Comments</h3>
                            foreach (var comment in Model.Comments)
                            {
                                <article>
                                    <div>
                                        <h4>@comment.Title</h4>
                                        @comment.Text <br />
                                        <a href=@comment.SiteAddress>@comment.Fan.FirstName @comment.Fan.LastName</a> on <time datetime="2009-06-29T23:35:20+01:00">@comment.Date</time>
                                    </div>
                                </article>
                            }
                        }

                </section>

                <!-- New comment form - sending Model.ID to CommentsController, which initializes the new Comment -->
                @{Html.RenderAction("AddCommentForPost", "Comments", new { PostID = Model.ID });}
            </div>
        </div>
        <!-- Here ends the blog -->
    </body>
</html>
