@model IEnumerable<WebProject.Models.Fan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = ((System.Security.Claims.ClaimsIdentity)User.Identity);

    var MyFanID = int.Parse(user.FindFirst("FanID").Value);
    var isAdmin = bool.Parse(user.FindFirst("isAdmin").Value);
}

@Html.Partial("_SearchFansPartial") 

<h1>Search Results</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PazamInClub)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PazamInClub)
        </td>
        <td>
            @if (isAdmin || item.ID.Equals(MyFanID))
            {
                @Html.ActionLink("Edit ", "Edit", new { id = item.ID })
                @Html.Label("|");
            }

            @Html.ActionLink("Details", "Details", new { id = item.ID })

            @if (isAdmin /* TODO: When deleting, delete AspUser too */)
            {
                @Html.Label("|");
                @Html.ActionLink(" Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
