@model WebProject.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var user = ((System.Security.Claims.ClaimsIdentity)User.Identity);

    var MyFanID = int.Parse(user.FindFirst("FanID").Value);
    var isAdmin = bool.Parse(user.FindFirst("isAdmin").Value);
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Referenced Post
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferencedPost.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Commented by
        </dt>

        <dd>
            @if (@Model.Fan != null)
            {
                <a href="~/Fans/Details/@Model.Fan.ID">@Model.Fan.FirstName @Model.Fan.LastName</a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @if (isAdmin || Model.FanID.Equals(MyFanID))
    {
        @Html.ActionLink("Edit ", "Edit", new { id = Model.ID })
        @Html.Label("|");
    }

    @Html.ActionLink("Back to List", "Index")
</p>
